
*.dart linguist-detectable=true
lib/** linguist-detectable=true
test/** linguist-detectable=true


*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.hpp linguist-detectable=false
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false

android/** linguist-vendored
ios/** linguist-vendored
build/** linguist-vendored


